@import "../node_modules/bootstrap/scss/bootstrap";

$primary: rgb(171, 83, 83);


$custom-colors: (
  "custom-color": #900
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);